.content-inner{
  text-align: center;
}

table{
  margin:auto;
  border: 4px;
  border-collapse: collapse;
  border-color: black;
  vertical-align: middle;
  height: 70vh;
}
h1{
  margin-bottom: clamp(5px, 4vw, 15px);
}

th,td{
  text-align: center;
}
.color{
  background-color: #535353;
  color: white;
  border-color: rgb(120, 120, 120);
}
@media screen and (min-width: 960px) {
  .col-1{
    width: 10vw;
  }
  .col-2{
    width: 30vw;
  }
  p{
    font-size: 20px;
  }
}
@media screen and (max-width: 959px) {
  h1{
    font-size: clamp(20px, 4vw, 30px);
  }
  .col-1{
    width: clamp(15px, 20vw, 100px);
  }
  .col-2{
    width: clamp(15px, 60vw, 400px);
  }
  img{
    min-width: 200px;
    width: 60vw;
  }
  p{
    font-size: clamp(13px, 3vw, 20px);
    }
}
